.todorow {
  display: flex;
  padding: 7px;
  border: 2px solid white;
  -webkit-box-shadow: -2px -2px 20px -5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -2px -2px 20px -5px rgba(0, 0, 0, 0.11);
  box-shadow: -2px -2px 20px -5px rgba(0, 0, 0, 0.11);
}
.todocoloum {
  flex: 1;
  text-align: center;
  padding: 0px 5px;
}

.maindiv {
  -webkit-box-shadow: 20px -7px 94px -35px rgba(0, 0, 0, 1);
  -moz-box-shadow: 20px -7px 94px -35px rgba(0, 0, 0, 1);
  box-shadow: 20px -7px 94px -35px rgba(0, 0, 0, 1);
  border: 2px solid black;
  margin: auto;
  width: 65%;
  height: auto;
  min-height: 250px;
}

.delete {
  cursor: pointer;
}
.SDkEP {
  margin: 5%;
  border-radius: 50px;
  border: 2px solid #000000;
  padding: 5px 4px 0 16px;
  padding-left: 14px;
}
.Add-Button {
  margin: 5%;

  padding: 5px 4px 0 16px;
  padding-left: 14px;
}
.todo-priority {
  margin: 5%;

  padding: 5px 4px 0 16px;
  padding-left: 14px;
}
span {
  padding-left: 10%;
}
.disable-label {
  text-decoration: line-through;
  opacity: 0.7;
}
